h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.header {
  /* position: fixed; */
  flex-direction: column;
  margin-bottom: 3em;
  padding-top: 50px;

  width: 100%;
}
.nav {
  display: inline-block;
}

button,
a {
  margin-right: 3px;
  height: fit-content;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}
