.Charts {
  display: flex;
  flex-direction: column;
  width: 95vw;
  font-size: 15px;
  overflow-x: scroll;
  overflow-y: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h4 {
  font-size: 23px;
}
@media (min-width: 720px) {
  .Charts {
    padding: 15px;
    font-size: 18px;
  }
  .test {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .Charts {
    padding: 15px;
  }
}
