:root {
  --main-color: #2d4059;
  --text-color: #ff5722;
}
body {
  margin: 0;
  background-color: #222831;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  border: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

@media (min-width: 720px) {
  body {
    font-size: 40px;
  }
  .charts {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 45px;
  }
}
